<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>codForum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800%7CRoboto:400,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
    <nav id="navbar" class="navbar">
        <div class="container">
            <div class="left">
                <h1 class="page-header">
                    <a th:href="@{~/user/topics}"><i class="fa fa-laptop" aria-hidden="true"></i><span>codForum</span></a>
                </h1>
            </div>
            <div class="headerCol right">
                <ul class="nav-list">
                    <li>
                        <form action="#" class="search-area">
                            <div class="search-input">
                                <input type="search" id="search" placeholder="Szukaj na forum"></input>
                                <button name="submit" type="submit">Ok</button>
                            </div>
                            <label for="search"><span id="btn-search" class="btn-navlist"><i class="fa fa-search" aria-hidden="true"></i></span></label>
                        </form>
                    </li>
                    <li>
                        <div class="login-box">
                            <span id="btn-signin" class="btn-navlist"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="login-panel">
                                <h2 class="login-header">Twoje Konto</h2>
                                <h3>Zalogowany jako: </h3>
                                <span th:utext="${login}">miejsce_na_login</span>
                                <form th:action="@{/logout}" method="get">
                                    <button class="login" style="background-color: #fc3246">Wyloguj się</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-hamburger">
                <button class="hamburger"></button>
            </div>
            <ul class="main-nav left">
                <li><a href="user/topics.html">Strona główna</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <div class="container page-minFooter">
            <div class="post-header">
                <div class="forum-icon">
                    <img th:src="@{/img/avatar.png}" class="img-responsive" alt="" />
                </div>
                <div class="post-details">
                    <h2 th:text="${topic.topicTitle}">Jak zainstalowac windowsa obok Linuxa</h2>
                    <p>
                        Post napisany przez: <a href="#" th:text="${topic.user.login}">Mati</a>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span th:text="${topic.date}">27 styczeń 2017</span>
                    </p>
                </div>
            </div>
            <div class="wrapper">

                <article class="post">

                    <div class="post-content">
                        <p th:utext="${topic.topicContent}">
                            lorem
                        </p>
                    </div>
                    <div class="vote">
                        <span><a href="#">+</a></span>
                        <span>23</span>
                        <span><a href="#">-</a></span>
                    </div>

                </article>
                <form th:action="@{/user/addPost/}+${topic.idTopic}" class="btn-answerArea">
                    <button class="btn-answer right">Napisz post</button>
                </form>
                <article class="post" th:each="post:${posts}">
                    <div class="post-profil">
                        <div class="forum-icon">
                            <img th:src="@{/img/avatar.png}" class="img-responsive" alt=""/>
                        </div>
                        <a href="#" th:text="${post.user.login}">Mati</a>
                        <p>Post: 16</p>
                    </div>
                    <div class="post-content">
                        <p class="post-date" th:text="${post.date}"><i class="fa fa-clock-o" aria-hidden="true"></i>27 styczeń 2017</p>
                        <p th:utext="${post.content}">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro explicabo saepe neque magnam ipsum laudantium sint, eveniet atque, ex error doloribus, placeat odit quam nostrum voluptatibus voluptate omnis, necessitatibus non quia ut. Animi nam, temporibus quae dicta odio provident consequatur aliquid, molestiae nihil ipsam soluta excepturi cum. Iusto, totam esse.
                        </p>
                    </div>
                    <div class="vote">
                        <span><a href="#">+</a></span>
                        <span>0</span>
                        <span><a href="#">-</a></span>
                    </div>
                </article>
                <form th:action="@{/user/addPost/}+${topic.idTopic}" class="btn-answerArea">
                    <button class="btn-answer right">Napisz post</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="page-footer">
        <div class="prefooter">
            <div class="container">
                <ul class="social-media">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p class="left">2017 &copy; Wszelkie prawa zastrzeżone.</p>
                <p class="right">Kodowanie: <a href="#">Mati</a></p>
            </div>
        </div>
    </footer>

    <script src="../../js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>
